.desktop-menu {
    width: 50vh;
    height: 100vh;
    display: none;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px #5a1c1c;
    transition: all 0.3s ease;
    transform: translatex(100vw);

}
.desktop-menu-container {
    font-weight: 500;
    width: 20vw;
    height: 100vh;
    background-color:  #fff;
    padding:2rem;

}
.logo-port-mb {
    margin-bottom: 1rem;
   
}
.desktop-menu.active{
    opacity: 1;
    transform: translateX(0);
}
.desktop-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-left: -2.5rem;
}
.desktop-menu a {
    text-decoration: none;
    color: #000;
}

.login-signup-member{
    margin-top: 4rem;
    font-weight: 700;
    
}
.login-signup-member a {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem;
    border: 10px #5a1c1c;
}

/* desktop  */
@media(min-width: 1281px)  {
    .tablet-menu {
        display: block;
    }
    .desktop-menu {
        display: block;
    }

}